*{
  padding: 0;
  margin: 0;
}

header{
  background: rgb(34,173,20);
  background: linear-gradient(90deg, rgba(34,173,20,1) 44%, rgba(55,208,0,1) 69%, rgba(63,236,0,1) 86%);

  padding: 4%;
}

body{
  background-image: url(img/11817702-fundo-de-codigo-de-programacao-vetor.jpg);
  background-repeat: no-repeat;
  background-size: 100%, 20%;
  overflow: hidden;


}

#container{

  display: none;
}

h1{
  display: flex;
  justify-content: center;
  font-size: 50px;
}

h2{
  color: white;
}

